.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

uefi/include/efi.h
uefi/include/efiprot.h
vfat/EFI/BOOT/BOOTX64.EFI
vfat/test.txt
*.bin
*.code-workspace
*.elf
*.o
*.obj