.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

build
kernel/rust/target
scripts/__pycache__
sylphia_build_tool.egg-info
*.code-workspace
*.dump
*.img
*.log
*.o
*.obj
*.txt
*.vhd